.carousel img {
	min-height: 300px;
	max-height: 500px;
	min-width: 100vw;
}

.sec2-buffer{
	margin-top: 52px;
}



h2, p {
	text-align: center;
}

.text-center{
	text-align: center;
}

.fa-resize {
	font-size: 1.7em;
}

#search-buff {
	margin-top: 5px;
}

.divider-line { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.col-md-offset-change {
	margin-left: 26.4%;
}


#spacer {
	padding-top: 5px;
	color: grey;
	font-size:30px;
}
#logo-header {
	background-image: url('http://placehold.it/1024x255');
	background-repeat: none;
	background-position: center;
	background-size: contain;
	height: 100px;
	width: 100vw;
	font-size: 30px
}

#check-buff {
	margin-top: 60px;
	margin-bottom: 80px;
}

.text-left{
	text-align: left;
    margin-top:65px;
	margin-bottom: 30px;
}



.bottom-buff {
	margin-top:65px;
	margin-bottom: 30px;
	text-align: left
}
ul {
 list-style-type: none;
 }

.footer {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}